.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  

  &__heading {
    font-size: 3rem;
    color: #333;
    @include phone{
      text-align: center;
    }
    @include tablet{
      text-align: center;
  }
}
  &__span {
    color: var(--brown);
  }
  &__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
    @include phone{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
    @include tablet{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
  }
  &__container {
    width: 59%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    background-color: #fbfcfa;
    padding: 2rem;
    border-radius: 1rem;
    @include phone{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    @include tablet{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
    }
  }
  &__checkout-container {
    width: 39%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fbfcfa;
    padding: 2rem;
    border-radius: 1rem;
    @include phone{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    @include tablet{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
    }
  }
  &__horizontal-bar {
    border-bottom: 1px solid #444;
    width: 100%;
  }
  &__sub-total,
  &__discount,
  &__promo-code,
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__sub-total-title,
  &__discount-title,
  &__promo-code-title {
    font-size: 1.2rem;
    color: #333;
  }
  &__sub-total-amount,
  &__discount-amount {
    font-size: 1rem;
    color: #555;
  }
  &__promo-code-input {
    font-size: 0.9rem;
    color: #333;
    text-transform: none;
    background: #ffffff;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem 0rem 1.5rem 0rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      border: 1px solid #333;
    }
    &::placeholder {
      font-size: 0.8rem;
      color: #888;
      font-style: italic;
    }
  }
  &__total-title {
    font-size: 1.4rem;
    color: #333;
  }
  &__total-amount {
    font-size: 1.4rem;
    color: #444;
  }
  &__image-wrapper {
    display: flex;
    justify-content: center;
  }
  &__image {
    max-width: 70%;
    max-height: 70%;
    min-width: 8rem;
    object-fit: cover;
  }
}
