.restaurant {
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(./assets/images/popular-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .title-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__heading {
      text-align: center;
      font-size: 3rem;
      padding: 0 0.5rem;
      color: #333;
    }
    &__heading-span {
      text-align: center;
      font-size: 3rem;
      padding: 0 0.5rem;
      color: var(--brown);
    }
  }

  .menu-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
}
