<section class="cart">
  <h1 class="cart__heading">Your <span class="cart__span">Cart</span></h1>
  <div class="cart__main-wrapper">
    <div class="cart__container"></div>
    <div class="cart__checkout-container">
      <div class="cart__sub-total">
        <p class="cart__sub-total-title">Sub Total</p>
        <p class="cart__sub-total-amount">Rs. 500</p>
      </div>
      <div class="cart__delivery">
        <p class="cart__delivery-title">Sub Total</p>
        <p class="cart__delivery-amount">Rs. 500</p>
      </div>
      <div class="cart__promo-code">
        <p class="cart__promo-code-title">Voucher</p>
        <input
        type="text"
        title="It can contain only Alphanumerics!"
        pattern="[a-z A-Z ]{2,25}"
        name="voucher"
        class="cart__promo-code-input"
        required
      />
      </div>
      <div class="cart__horizontal-bar"></div>
      <div class="cart__total">
        <p class="cart__total-title">Total</p>
        <p class="cart__total-amount">Rs. 1000</p>
      </div>
      <a href="/"><button class="button">Checkout</button></a>
    </div>
  </div>
</section>
