PORT=<PORT>
DB_CLIENT='pg'
DB_NAME=<DB_NAME>
DB_HOST=<DB_HOST>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_PORT=<DB_PORT>
JWT_SECRET=<JWT_SECRET>
PGADMIN_MAIL=<PGADMIN_MAIL>
PGADMIN_PW=<PGADMIN_PW>
MINIO_ROOT_USER=<MINIO_ROOT_USER>
MINIO_ROOT_PASSWORD=<MINIO_ROOT_PASSWORD>
MINIO_CONSOLE_PORT=<MINIO_CONSOLE_PORT>
MINIO_API_PORT=<MINIO_PORT>
MINIO_BUCKET_NAME=<MINIO_BUCKET_NAME>