<aside class="aside">
    <figure class="aside__profile-image-wrapper">
        <img src="/assets/images/home-img.png" alt="" class="aside__profile-image">
    </figure>
    <p class="aside__profile-name">Hello</p>
    <div class="aside__menu">
        <div class="aside__menu-option aside__menu-option--active" id="orders-option">Orders</div>
        <div class="aside__menu-option" id="reviews-option">Reviews</div>
        <div class="aside__menu-option" id="edit-details-option">Edit Details</div>
    </div>
</aside>
<div class="main-container"></div>
