.about {
  display: flex;
  background-color: rgb(252, 252, 252);
  align-items: center;
  justify-content: center;
  @include phone{
    flex-direction: column;
  }
  @include tablet{
    flex-direction: column;
  }

  &__image-stack {
    position: relative;
    flex: 1 1 27rem;
    height: 25rem;
    @include tablet{
      max-height: 20rem;
    }
    @include phone{
      max-height: 15rem;
    }

  }
  &__image-stack-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__image-stack-bottom {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  &__content {
    flex: 1 1 40rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    @include tablet{
      flex: 1 1 30rem;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include phone{
      flex: 1 1 20rem;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h3 {
      font-size: 3rem;
      color: #333;
    }

    p {
      font-size: 1.2rem;
      color: #555;
      padding: 1rem 0;
    }
  }
}
