.hero {
display: flex;
align-items: center;

gap: 4rem;

  &::before{
        top: -7rem;
        background: #fff;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
        z-index: -1;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5rem;
    right: -25rem;

    border-radius: 3rem;
    transform: rotate(-28deg);
    height: 22rem;
    width: 60rem;

    animation: animte 1s linear 1;
  }

  .hero-content{
    flex: 1 1 60%;
    padding-bottom: 2rem;

    h3 {
        color: #333;
        font-size: 3rem;
      }



    p {
        padding: 2rem 0;
        color: #666;
    
        font-size: 1.2rem;
      }
  } 

  .image {
    display: flex;
    flex: 1 1 40%;
    justify-content: center;
  
  img {
    max-width: 25rem;
    max-height: 25rem;
    object-fit: cover;

}
  }

}
@keyframes animte {
    0% {
      transform: rotate(32deg) translateY(-40rem);
    }
  }