header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  background: #fff;
  padding: 1rem 10%;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      height: 3rem;
    }
  }
  .navbar {
    &__dropdown {
      position: relative;
      display: none;
      gap: 2rem;
      &:hover .navbar__dropdown-content {
        display: block;
      }
    }

    &__dropdown-content {
      display: none;
      position: absolute;
      top: 3rem;
      background-color: #f9f9f9;
      min-width: 10rem;
      border-radius: 0.5rem;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    &__dropdown-content-action {
      color: black;
      width: 100%;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.5rem;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #dfdcdc;
      }
    }
    &__authenticated-user {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      color: var(--brown);
    }
    &__authenticated-user-icon {
      font-size: 0.8rem;
    }
    &__authenticated-user-name {
      text-align: center;
      font-size: 1rem;
      letter-spacing: 1px;
      padding-right: 0.2rem;
    }

    &__button-wrapper {
      display: flex;
      align-items: center;

      gap: 3rem;
      font-size: 1.4rem;
      color: var(--brown);
    }
    &__button {
      cursor: pointer;
      &:hover {
        color: #666;
      }
    }
    &__cart-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      height: 2rem;
      width: 2rem;
    }
    &__cart-count-circle {
      display: none;
      position: absolute;
      top: -14px;
      right: -14px;
      min-width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background-color: var(--brown);
      align-items: center;
      justify-content: center;

      padding: 4px;
    }
    &__cart-count {
      color: #fff;
      font-size: 0.8rem;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      list-style: none;

      li {
        a {
          font-size: 1.2rem;
          color: #666;
          &:hover {
            color: var(--brown);
          }
          &.active {
            color: var(--brown);
          }
        }
      }

      .button {
        margin: 0rem 0rem 0rem 3rem;
        padding: 0.5rem 2rem;
        color: #666;
        font-size: 1.2rem;
        &:hover {
          color: #000000;
        }
      }
    }
  }
}
