<figure class="cart-item__image-wrapper">
  <img src="./assets/images/home-img.png" alt="" class="cart-item__image" />
</figure>
<div class="cart-item__vertical-bar"></div>

<div class="cart-item__info">
  <h3 class="cart-item__title">SamayBaji</h3>
  <p class="cart-item__unit-price">Rs. 100</p>
</div>
<div class="cart-item__quantity-rounded-box">
  <button class="cart-item__quantity-semi-rounded-left">-</button>
  <div class="cart-item__vertical-bar"></div>
  <div class="cart-item__quantity-small-rounded-box">1</div>
  <div class="cart-item__vertical-bar"></div>
  <button class="cart-item__quantity-semi-rounded-right">+</button>
</div>
<p class="cart-item__total-price">Rs. 100</p>
<button class="cart-item__note-button" title="Special Note">
  <i class="fas fa-comment-alt"></i>
</button>
<button class="cart-item__trash-button" title="Delete Item">
  <i class="fa fa-trash" aria-hidden="true"></i>
</button>
