<figure class="customer-review__image-wrapper">
  <img
    src="/assets/images/home-img.png"
    alt=""
    class="customer-review__image"
  />
</figure>
<div class="customer-review__info">
  <div class="customer-review__customer-wrapper">
    <h3 class="customer-review__customer-name">Safal Manandhar</h3>
    <div class="customer-review__stars-wrapper">
      <div class="customer-review__star"></div>
      <div class="customer-review__star"></div>
    </div>
  </div>
  <p class="customer-review__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita culpa
    quidem modi unde ad distinctio eius, assumenda non repellendus, laborum
    dolore, atque est a natus nobis iusto deserunt fugiat officia.
  </p>
  <p class="customer-review__posted-date">2024-01-01</p>
</div>
