<figure class="customer-review__image-wrapper">
  <img
    src=""
    alt=""
    class="customer-review__image"
  />
</figure>
<div class="customer-review__info">
  <div class="customer-review__customer-wrapper">
    <h3 class="customer-review__customer-name"></h3>
    <div class="customer-review__stars-wrapper">
      <div class="customer-review__star"></div>
      <div class="customer-review__star"></div>
    </div>
  </div>
  <p class="customer-review__comment"></p>
  <p class="customer-review__posted-date"></p>
</div>
