<div class="summary">
  <p class="summary-attribute">
    Menu Item Image:
    <figure class="summary-image-wrapper">
      <img src="" alt="" class="summary-image" id="menu-item-image" />
    </figure>
  </p>

  <p class="summary-attribute">
    Menu Item Name:
    <span class="summary-attribute-value" id="menu-item-name"></span>
  </p>
  <p class="summary-attribute">
    Portion:
    <span class="summary-attribute-value" id="menu-item-portion"></span>
  </p>
  <p class="summary-attribute">
    Price:
    <span class="summary-attribute-value" id="menu-item-price"></span>
  </p>
</div>
