<div class="order__summary">
    <p class="order__summary-attribute">
      Name:
      <span
        class="order__summary-attribute-value"
        id="order-summary-name"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Phone Number:
      <span
        class="order__summary-attribute-value"
        id="order-summary-phone"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Order Date:
      <span
        class="order__summary-attribute-value"
        id="order-summary-date"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Order Time:
      <span
        class="order__summary-attribute-value"
        id="order-summary-time"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Address:
      <span
        class="order__summary-attribute-value"
        id="order-summary-address"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Payment Method:
      <span
        class="order__summary-attribute-value"
        id="order-summary-payment-method"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Sub Total Amount:
      <span
        class="order__summary-attribute-value"
        id="order-summary-sub-total-amount"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Delivery Charge:
      <span
        class="order__summary-attribute-value"
        id="order-summary-delivery-amount"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Total Amount:
      <span
        class="order__summary-attribute-value"
        id="order-summary-total-amount"
      ></span>
    </p>
    <p class="order__summary-attribute">
      Additional Note:
      <span
        class="order__summary-attribute-value"
        id="order-summary-note"
      ></span>
    </p>
    </div>