<div class="summary">
  <p class="summary-attribute">
    Name:
    <span class="summary-attribute-value" id="order-summary-name"></span>
  </p>
  <p class="summary-attribute">
    Phone Number:
    <span class="summary-attribute-value" id="order-summary-phone"></span>
  </p>
  <p class="summary-attribute">
    Order Date:
    <span class="summary-attribute-value" id="order-summary-date"></span>
  </p>
  <p class="summary-attribute">
    Order Time:
    <span class="summary-attribute-value" id="order-summary-time"></span>
  </p>
  <p class="summary-attribute">
    Address:
    <span class="summary-attribute-value" id="order-summary-address"></span>
  </p>
  <p class="summary-attribute">
    Payment Method:
    <span
      class="summary-attribute-value"
      id="order-summary-payment-method"
    ></span>
  </p>
  <p class="summary-attribute">
    Sub Total Amount:
    <span
      class="summary-attribute-value"
      id="order-summary-sub-total-amount"
    ></span>
  </p>
  <p class="summary-attribute">
    Delivery Charge:
    <span
      class="summary-attribute-value"
      id="order-summary-delivery-amount"
    ></span>
  </p>
  <p class="summary-attribute">
    Total Amount:
    <span
      class="summary-attribute-value"
      id="order-summary-total-amount"
    ></span>
  </p>
  <p class="summary-attribute">
    Additional Note:
    <span class="summary-attribute-value" id="order-summary-note"></span>
  </p>
</div>
