<p class="rating__reviews-count">100 reviews</p>
<div class="rating__score-wrapper">
    <div class="rating__stars-wrapper">
        <i class="fa-solid fa-star rating__star"></i>
        <i class="fa-solid fa-star rating__star"></i>
        <i class="fa-solid fa-star rating__star"></i>
        <i class="fa-solid fa-star rating__star"></i>
        <i class="fa-regular fa-star rating__star"></i>
    </div>
    <p class="rating__score">4/5</p>
</div>

<p class="rating__text">What do you think about this dish?</p>