<div class="summary">
  <p class="summary-attribute">
    Restaurant Profile Image:
    <figure class="summary-image-wrapper">
      <img src="" alt="" class="summary-image" id="restaurant-profile-image" />
    </figure>
  </p>
  <p class="summary-attribute">
    Restaurant Cover Image:
    <figure class="summary-image-wrapper">
      <img src="" alt="" class="summary-image" id="restaurant-cover-image" />
    </figure>
  </p>

  <p class="summary-attribute">
    Restaurant Name:
    <span class="summary-attribute-value" id="restaurant-name"></span>
  </p>
  <p class="summary-attribute">
    Location:
    <span class="summary-attribute-value" id="restaurant-location"></span>
  </p>
  <p class="summary-attribute">
    Phone Number:
    <span class="summary-attribute-value" id="restaurant-phone-number"></span>
  </p>
  <p class="summary-attribute">
    Open Hours:
    <span class="summary-attribute-value" id="restaurant-open-hours"></span>
  </p>
  <p class="summary-attribute">
    PAN Number:
    <span class="summary-attribute-value" id="restaurant-pan-number"></span>
  </p>
  <p class="summary-attribute">
    Description:
    <span class="summary-attribute-value" id="restaurant-description"></span>
  </p>
</div>
