<div class="summary">
  <p class="summary-attribute">
    User Profile Picture:
    <figure class="summary-image-wrapper">
      <img src="" alt="" class="summary-image" id="user-profile-image" />
    </figure>
  </p>
  <p class="summary-attribute">
    Name:
    <span class="summary-attribute-value" id="user-fullname"></span>
  </p>
  <p class="summary-attribute">
    Email:
    <span class="summary-attribute-value" id="user-email"></span>
  </p>
  <p class="summary-attribute">
    Phone Number:
    <span class="summary-attribute-value" id="user-phone-number"></span>
  </p>
</div>
