.button {
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    background: none;
    color: #222;
    text-align: center;
    cursor: pointer;
    border: 0.2rem solid var(--brown);

    &:hover:enabled {
        background: var(--brown);
        color: #000;
      }
    &:disabled {
        color: var(--brown);
      }
  }
  