.customer-review {
  display: flex;
  gap: 1rem;
  width: 50%;
  padding: 1rem 1.5rem;

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    
  }
  &__image {
    width: 100%;
    height: 100%;
    min-width: 3rem;
    object-fit: cover;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.5rem;
  }
  &__customer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__customer-name {
    font-size: 1.2rem;
    color: #222;
    letter-spacing: 1.2px;
  }
  &__stars-wrapper {
    display: flex;
    gap: 0.2rem;
  }
  &__comment {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #333;
  }
  &__posted-date {
    font-size: 0.7rem;
    color: #555;
    font-style: italic;
  }
}
