.dish-info {
  display: flex;
  min-height: auto;
  gap: 1rem;

  &__image-wrapper {
    flex: 1 1 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
  }
  &__image {
    height: 100%;
    width: 100%;
    min-width: 10rem;
    border-radius: 1rem;
    object-fit: cover;
  }
  &__info {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  &__name {
    color: #333;
    font-size: 2rem;
    letter-spacing: 1.2px;
  }
  &__description {
    color: #444;
    font-size: 1.2rem;
  }
  &__attributes-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  &__attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--brown);
    border-radius: 2rem;
    padding: 0.4rem 0.8rem;
  }
  &__attribute-icon,
  &__item-icon {
    font-size: 0.5rem;
    color: var(--brown);
  }
  &__attribute-title {
    font-size: 1rem;
    color: #444;
  }
  &__items-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
    padding: 0.5rem 0;
  }
  &__mid-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
  }
  &__price-portion-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
  }
  &__rating-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  &__price-wrapper,
  &__portion-wrapper,
  &__items-wrapper {
    display: flex;
    align-items: center;
  }
  &__price-title,
  &__portion-title,
  &__items-title {
    font-size: 1rem;
    color: #333;
    width: 10rem;
  }
  &__price-amount,
  &__portion-amount,
  &__item-title {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
  }
  &__button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem 2rem;
  }
}
