/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

:root {
  --brown: #a46942;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: #444;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background: var(--brown);
  border-radius: 5px;
}
*::selection {
  background: var(--brown);
  color: #fff;
}

p {
  text-transform: none;
  text-align: justify;
  letter-spacing: 1px;
}

h1,
h4,
h3 {
  font-family: 'Oswald', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  padding: 2rem 8%;
}
@media screen and (max-width: 600px) {
  section {
    padding: 2rem 5%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  section {
    padding: 2rem 5%;
  }
}

input[type='radio'] {
  -webkit-appearance: radio;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  background: #fff;
  padding: 1rem 10%;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  min-height: 1.5rem;
  min-width: 7rem;
  height: 3rem;
}
header .navbar__dropdown {
  position: relative;
  display: none;
  gap: 2rem;
}
header .navbar__dropdown:hover .navbar__dropdown-content {
  display: block;
}
header .navbar__dropdown-content {
  display: none;
  position: absolute;
  gap: 1rem;
  align-items: center;
  top: 2.6rem;
  background-color: #f9f9f9;
  min-width: 14rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
@media screen and (max-width: 600px) {
  header .navbar__dropdown-content {
    top: 2rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  header .navbar__dropdown-content {
    top: 3.2rem;
  }
}
header .navbar__dropdown-content-action {
  color: black;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}
header .navbar__dropdown-content-action:hover {
  background-color: #dfdcdc;
}
header .navbar__authenticated-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--brown);
}
header .navbar__authenticated-user-icon {
  font-size: 0.8rem;
}
header .navbar__authenticated-user-name {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-right: 0.2rem;
}
@media screen and (max-width: 600px) {
  header .navbar__authenticated-user-name {
    display: none;
  }
}
header .navbar__button-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
  color: var(--brown);
}
@media screen and (max-width: 600px) {
  header .navbar__button-wrapper {
    gap: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  header .navbar__button-wrapper {
    gap: 2rem;
  }
}
header .navbar__button {
  cursor: pointer;
}
header .navbar__button:hover {
  color: #555;
}
header .navbar__cart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
header .navbar__cart-count-circle {
  display: none;
  position: absolute;
  top: -14px;
  right: -14px;
  min-width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: var(--brown);
  align-items: center;
  justify-content: center;
  padding: 4px;
}
header .navbar__cart-count {
  color: #fff;
  font-size: 0.8rem;
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}
@media screen and (max-width: 600px) {
  header .navbar ul {
    gap: 1rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  header .navbar ul {
    gap: 1rem;
  }
}
header .navbar ul li a {
  font-size: 1.2rem;
  color: #555;
}
header .navbar ul li a:hover {
  color: var(--brown);
}
header .navbar ul li a.active {
  color: var(--brown);
}
header .navbar ul .button {
  margin: 0rem 0rem 0rem 3rem;
  padding: 0.5rem 2rem;
  color: #555;
  font-size: 1.2rem;
}
header .navbar ul .button:hover {
  color: #000000;
}

.content {
  margin-top: 5rem;
}

footer {
  margin: 1rem 2rem 0rem 2rem;
  padding: 1rem 2rem 0rem 2rem;
  border-top: 0.2rem solid var(--brown);
}

.box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  margin: 2rem;
}
.box h3 {
  font-size: 1.6rem;
  color: #444;
  padding: 1rem 0;
  font-weight: normal;
}
.box p {
  font-size: 1rem;
  color: #444;
  padding: 1rem 0;
}
.box a {
  font-size: 1rem;
  color: #444;
  padding: 1rem 0;
  display: block;
}
.box a:hover {
  color: var(--brown);
}

.credit {
  font-size: 1.2rem;
  text-align: center;
  border-top: 0.2rem solid rgba(255, 255, 255, 0.7);
  padding: 2rem 1rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  color: #444;
}
.credit span {
  color: var(--brown);
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 2;
}

body.open {
  overflow: hidden;
}

body.open .background-overlay {
  visibility: visible;
  opacity: 1;
}

@keyframes modal-in {
  0% {
    translate: -50% 10%;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
    visibility: visible;
  }
}

.app,
.modal,
.background-overlay {
  transition: 0.5s;
}

.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  background: transparent;
  transform: translate(-50% -50%);
  scale: 1;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body.open > .app {
  scale: 0.75;
}

body.open .modal {
  opacity: 1;
  visibility: visible;
  animation: modal-in 0.5s;
}

.button {
  width: fit-content;
  font-size: 1.1rem;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  background: none;
  color: #222;
  text-align: center;
  cursor: pointer;
  border: 0.2rem solid var(--brown);
}
.button--clicked {
  color: var(--brown);
}
.button--clicked:hover {
  color: #222;
}
.button:hover:enabled {
  background: var(--brown);
  color: #000;
}
.button:disabled {
  color: var(--brown);
  opacity: 0.8;
}

.menu-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  width: 15rem;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.menu-item-card:hover {
  transform: scale(1.02);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.menu-item-card--large {
  min-width: 20rem;
  padding: 1.5rem;
  gap: 1rem;
}
.menu-item-card--large img {
  min-height: 14rem;
}
.menu-item-card .info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.menu-item-card img {
  height: 8rem;
  width: 100%;
  object-fit: cover;
}
.menu-item-card h3 {
  color: #333;
  font-size: 1.8rem;
  font-weight: normal;
}
.menu-item-card .price {
  color: #555;
  font-size: 1.2rem;
}
.menu-item-card .portion {
  color: #817f7f;
  font-size: 0.8rem;
}

.ribbon {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  content: '';
  display: block;
  border: 0.5rem solid var(--brown);
}
.ribbon span {
  position: absolute;
  display: block;
  width: 13.5rem;
  padding: 0.5rem 0;
  background-color: var(--brown);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font:
    0.7rem 'Roboto',
    sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: -6px;
  right: 27px;
}
.ribbon-top-left::after {
  bottom: 27px;
  left: -6px;
}
.ribbon-top-left span {
  right: -25px;
  top: 20px;
  transform: rotate(-45deg);
}

.auth-card {
  background: #cbc0d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.auth-card__container {
  display: flex;
  background: #f6f6f6;
  width: 50%;
  height: 80%;
  position: absolute;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.auth-card__active-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5%;
  left: 5%;
  background: #f5deb3;
  width: 50%;
  height: 110%;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
.auth-card__form--hidden {
  display: none;
  transition: all 0.5s ease;
}
.auth-card__form--signin,
.auth-card__form--signup {
  gap: 2rem;
}
.auth-card__divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.auth-card__horizontal-line {
  border-bottom: 1px solid #555;
  width: 40%;
}
.auth-card__divider-text {
  font-size: 0.8rem;
  font-variant: capitalized;
  color: #555;
  padding: 0 0.5rem;
}
.auth-card__other-login-methods {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.auth-card__icon {
  color: var(--brown);
  font-size: 2rem;
  cursor: pointer;
}
.auth-card__icon:hover {
  scale: 1.1;
}
.auth-card__forgot-password {
  font-family: 'Open Sans', sans-serif;
  color: var(--brown);
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: right;
  cursor: pointer;
}
.auth-card__forgot-password:hover {
  text-decoration: underline;
}
.auth-card__sidebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 100%;
  transition: 1s all ease;
}
.auth-card__sidebox--left {
  left: -2%;
}
.auth-card__sidebox--right {
  right: -2%;
}
.auth-card__heading {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 4rem;
  text-transform: uppercase;
  color: #888;
  font-size: 2em;
  letter-spacing: 8px;
}
.auth-card__account {
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #8e9aaf;
  text-align: center;
}
.auth-card__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  opacity: 0.7;
}
.auth-card__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.auth-card__button {
  background: #f6f6f6;
  color: var(--brown);
  border: solid 1px #f5deb3;
  width: 10rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  border-radius: 10px;
  outline: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  cursor: pointer;
}
.auth-card__button--loading {
  opacity: 0.8;
}
.auth-card__button:hover:enabled {
  background: #f5deb3;
  color: #888;
  transition: background-color 0.5s ease-out;
}
.auth-card__button--submit {
  border-color: var(--brown);
  align-self: center;
}
.auth-card__button--submit:hover:enabled {
  background: #cbc0d3;
  border-color: #bfb1c9;
}
.auth-card__button--switch {
  background: #f6f6f6;
  color: var(--brown);
  border: solid 1px #f5deb3;
}
.auth-card__form-content {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 0.5rem;
}
.auth-card__input {
  width: 100%;
  background: #f5deb3;
  font-size: 1rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}
.auth-card__input:focus {
  border: 1px solid #333;
}
.auth-card__input::placeholder {
  color: #888;
  font-size: 0.8rem;
  font-weight: 100;
}
.auth-card__cross-button {
  position: absolute;
  color: var(--brown);
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 4;
}
.auth-card__cross-button:hover {
  scale: 1.2;
}
.auth-card__cross-button--right {
  top: 0.5rem;
  right: 0.5rem;
}
.auth-card__cross-button--left {
  visibility: hidden;
  top: 0.5rem;
  left: 0.5rem;
}
.auth-card__checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 4px;
}
.auth-card__checkbox-input {
  color: var(--brown);
  border: 1px solid var(--brown);
  height: 10px;
  width: 10px;
}
.auth-card__checkbox-input:checked {
  outline: 1px solid var(--brown);
  outline-offset: 1px;
  background-color: var(--brown);
}
.auth-card__checkbox-label {
  font-family: 'Open Sans', sans-serif;
  color: var(--brown);
  font-size: 0.8em;
  letter-spacing: 1px;
}
.auth-card__password-input-wrapper {
  display: flex;
  align-items: center;
}
.auth-card__password-toggle-icon {
  cursor: pointer;
  font-size: 0.9rem;
  color: #555;
  transition: color 0.3s ease-in-out;
  margin-left: -2rem;
  z-index: 2;
}
.auth-card__password-toggle-icon:hover {
  color: #111;
}
.auth-card__error-message {
  height: 0.7rem;
  width: 90%;
  text-wrap: wrap;
  color: orangered;
  font-size: 0.7rem;
}
.auth-card__response-message {
  height: 0.7rem;
  width: 100%;
  text-wrap: wrap;
  color: orangered;
  font-size: 0.7rem;
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  height: 5rem;
  background-color: #f7f7f7;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.cart-item--small {
  scale: 0.85;
}
.cart-item__image-wrapper {
  height: 4rem;
  width: 5rem;
  min-width: 3rem;
  min-height: 4rem;
}
.cart-item__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cart-item__vertical-bar {
  border-left: 1px solid #c8c8c8;
  height: 100%;
}
.cart-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}
.cart-item__title,
.cart-item__item-count {
  color: #333;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}
.cart-item__quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart-item__quantity-rounded-box {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.8rem;
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2);
}
.cart-item__quantity-semi-rounded-left {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 0.2rem 0.9rem;
  font-size: 1.4rem;
  color: #444;
  background-color: #fff;
  cursor: pointer;
}
.cart-item__quantity-semi-rounded-left:disabled {
  cursor: auto;
  color: #d7d7d7;
}
.cart-item__quantity-semi-rounded-left:hover:enabled {
  background-color: #d7d7d7;
}
.cart-item__quantity-small-rounded-box {
  color: #444;
  padding: 0.2rem 0.8rem;
  font-size: 1.2rem;
}
.cart-item__quantity-semi-rounded-right {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 0.2rem 0.8rem;
  font-size: 1.4rem;
  background-color: #fff;
  cursor: pointer;
  color: #444;
}
.cart-item__quantity-semi-rounded-right:hover {
  background-color: #d7d7d7;
}
.cart-item__unit-price {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #555;
}
.cart-item__total-price {
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-align: center;
  color: #444;
}
.cart-item__trash-button {
  color: #444;
  font-size: 1.1rem;
  background-color: #f7f7f7;
  cursor: pointer;
}
.cart-item__trash-button:hover {
  color: var(--brown);
  scale: 1.2;
}
.cart-item__note-button {
  color: #444;
  font-size: 1.1rem;
  background-color: #f7f7f7;
  cursor: pointer;
}
.cart-item__note-button:hover {
  color: var(--brown);
  scale: 1.2;
}

.customer-review {
  display: flex;
  gap: 1rem;
  width: 50%;
  padding: 1rem 1.5rem;
}
@media screen and (max-width: 600px) {
  .customer-review {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .customer-review {
    width: 100%;
  }
}
.customer-review__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.customer-review__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-review__info {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.5rem;
}
.customer-review__customer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-review__customer-name {
  font-size: 1.2rem;
  color: #222;
  letter-spacing: 1.2px;
}
.customer-review__stars-wrapper {
  display: flex;
  gap: 0.2rem;
}
.customer-review__comment {
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #333;
}
.customer-review__posted-date {
  font-size: 0.7rem;
  color: #555;
  font-style: italic;
}

.rating {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--brown);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  gap: 0.5rem;
}
.rating__reviews-count,
.rating__text {
  font-size: 0.6rem;
  color: #444;
}
.rating__score-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .rating__score-wrapper {
    gap: 1rem;
  }
}
.rating__stars-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.2rem;
}
.rating__score {
  font-size: 1.5rem;
  color: var(--brown);
}
@media screen and (max-width: 600px) {
  .rating__score {
    font-size: 1rem;
  }
}
.rating__star {
  font-size: 1.5rem;
  color: var(--brown);
  transition: transform 0.3s;
}
.rating__star:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .rating__star {
    font-size: 1rem;
  }
}

.loading-spinner {
  display: inline-flex;
  width: 10px;
  height: 10px;
  align-self: center;
  border: calc(50px / 6) solid rgba(0, 0, 0, 0.1);
  border-top: calc(50px / 6) solid var(--brown);
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}

.accordion-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accordion-title {
  font-size: 1rem;
}

.accordion-content-title {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.accordion-header-status-select {
  color: #444;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #444;
  border-radius: 4px;
  text-align: center;
  outline: 1px solid var(--brown);
  outline-offset: 1px;
}

.accordion-header-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.accordion-header-status {
  color: #444;
}

.accordion-header-danger-action-icon {
  color: #e05e5e;
}
.accordion-header-danger-action-icon:hover {
  scale: 1.2;
}

.accordion-header-normal-action-icon {
  color: #6e6ed4;
}
.accordion-header-normal-action-icon:hover {
  scale: 1.2;
}

.accordion-header-icon,
.accordion-header-trailing-icon {
  color: var(--brown);
}

.accordion-header.active .accordion-header-trailing-icon {
  transform: rotate(180deg);
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease-out,
    padding 0.3s ease-out;
  padding: 0 1rem;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.accordion-content.open {
  max-height: 40rem;
  padding: 1rem;
}

.summary {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #fbfcfa;
  gap: 1rem;
  border: 1px solid #888;
  border-radius: 2rem;
  padding: 1rem;
}
.summary-heading {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  color: #333;
}
.summary-image-wrapper {
  height: 4rem;
  width: 4rem;
}
.summary-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.summary-attribute {
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: #444;
}
.summary-attribute-value {
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfa;
  border-radius: 2rem;
  padding: 1rem;
  gap: 2rem;
  width: 80%;
  height: 80vh;
  position: relative;
}
.modal-form__cross-button {
  position: absolute;
  top: 1%;
  right: 1%;
  color: var(--brown);
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 4;
}
.modal-form__cross-button:hover {
  scale: 1.2;
}
.modal-form__heading {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #333;
}
.modal-form__form {
  width: 80%;
  padding: 2rem;
  padding-top: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow-y: auto;
}
.modal-form .form__inputbox {
  width: 100%;
  background: #f5deb3;
  font-size: 1rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}
.modal-form .form__inputbox:focus {
  border: 1px solid #333;
}
.modal-form .form__inputbox::placeholder {
  color: #888;
  font-size: 0.8rem;
  font-weight: 100;
}
.modal-form .form__checkbox-input {
  color: var(--brown);
  border: 1px solid var(--brown);
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.modal-form .form__checkbox-input:checked {
  outline: 1px solid var(--brown);
  outline-offset: 1px;
  background-color: var(--brown);
}
.modal-form .form__label {
  font-size: 1rem;
  color: #444;
}
.modal-form .form__group {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.modal-form .form__row-group {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.form__inputbox {
  width: 100%;
  background: #f5deb3;
  font-size: 1rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}
.form__inputbox:focus {
  border: 1px solid #333;
}
.form__inputbox::placeholder {
  color: #888;
  font-size: 0.8rem;
  font-weight: 100;
}

.form__checkbox-input {
  color: var(--brown);
  border: 1px solid var(--brown);
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.form__checkbox-input:checked {
  outline: 1px solid var(--brown);
  outline-offset: 1px;
  background-color: var(--brown);
}

.form__label {
  font-size: 1rem;
  color: #444;
}

.form__group {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form__row-group {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.form__error-message {
  color: red;
  font-size: 0.8rem;
}

.hero {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
}
.hero__content {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  .hero__content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .hero__content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.hero__content h3 {
  color: #333;
  font-size: 3rem;
}
.hero__content p {
  padding: 2rem 0;
  color: #555;
  font-size: 1.2rem;
}
.hero__image-wrapper {
  display: flex;
  flex: 1 1 40%;
  max-width: 25rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .hero__image-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.hero__image-wrapper img {
  max-width: 25rem;
  max-height: 25rem;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .hero__image-wrapper img {
    max-width: 20rem;
    max-height: 20rem;
  }
}
.hero::before {
  top: -7rem;
  background: #fff;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.hero::before,
.hero::after {
  content: '';
  position: absolute;
  top: 5rem;
  right: -25rem;
  border-radius: 3rem;
  transform: rotate(-28deg);
  height: 22rem;
  width: 60rem;
  animation: animte 1s linear 1;
}

@keyframes animte {
  0% {
    transform: rotate(32deg) translateY(-40rem);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(/assets/images/popular-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.menu__heading {
  text-align: center;
  font-size: 3rem;
  color: #333;
}
.menu__heading span {
  color: var(--brown);
}
.menu__box-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1rem 0;
  box-shadow: 28px 0px 20px -20px var(--brown);
  border-radius: 20px;
  overflow-x: auto;
}

.about {
  display: flex;
  background-color: #fcfcfc;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .about {
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .about {
    flex-direction: column;
  }
}
.about__image-stack {
  position: relative;
  flex: 1 1 27rem;
  height: 25rem;
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .about__image-stack {
    max-height: 20rem;
  }
}
@media screen and (max-width: 600px) {
  .about__image-stack {
    max-height: 15rem;
  }
}
.about__image-stack-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about__image-stack-bottom {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about__content {
  flex: 1 1 40rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .about__content {
    flex: 1 1 30rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .about__content {
    flex: 1 1 20rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about__content h3 {
  font-size: 3rem;
  color: #333;
}
.about__content p {
  font-size: 1.2rem;
  color: #555;
  padding: 1rem 0;
}

.download-app {
  display: flex;
  background: #fcfcfc;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.download-app h3 {
  font-size: 3rem;
  margin: auto;
  color: #333;
}
.download-app p {
  font-size: 1.2rem;
  margin: auto;
  color: #555;
  padding: 1rem 0;
}
.download-app__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1 1 27rem;
}
.download-app__content-box {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.download-app__box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.download-app__image-box {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.download-app__image-box img {
  flex: 1 1 50%;
  height: 4rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcfcfc;
}
@media screen and (max-width: 600px) {
  .feedback {
    align-items: center;
  }
}
.feedback h3 {
  color: #333;
  font-size: 3rem;
}
.feedback__row {
  display: flex;
  background: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 1rem;
}
.feedback__container {
  display: flex;
  gap: 1rem;
  flex: 1 1 50%;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .feedback__container {
    align-items: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .feedback__container {
    align-items: center;
  }
}
.feedback form {
  background: #fff;
}
.feedback form .inputbox {
  font-size: 0.9rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.feedback form .inputbox:focus {
  border: 1px solid #333;
}
.feedback form .box::placeholder {
  text-transform: capitalize;
}
.feedback form .message {
  resize: none;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart__heading {
  font-size: 3rem;
  color: #333;
}
@media screen and (max-width: 600px) {
  .cart__heading {
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .cart__heading {
    text-align: center;
  }
}
.cart__span {
  color: var(--brown);
}
.cart__main-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
}
@media screen and (max-width: 600px) {
  .cart__main-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .cart__main-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
.cart__container {
  width: 59%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  background-color: #fbfcfa;
  padding: 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 600px) {
  .cart__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .cart__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
.cart__checkout-container {
  width: 39%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fbfcfa;
  padding: 2rem;
  border-radius: 1rem;
}
@media screen and (max-width: 600px) {
  .cart__checkout-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .cart__checkout-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
.cart__horizontal-bar {
  border-bottom: 1px solid #444;
  width: 100%;
}
.cart__sub-total,
.cart__discount,
.cart__promo-code,
.cart__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cart__sub-total-title,
.cart__discount-title,
.cart__promo-code-title {
  font-size: 1.2rem;
  color: #333;
}
.cart__sub-total-amount,
.cart__discount-amount {
  font-size: 1rem;
  color: #555;
}
.cart__promo-code-input {
  font-size: 0.9rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  width: 8rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.cart__promo-code-input:focus {
  border: 1px solid #333;
}
.cart__promo-code-input::placeholder {
  font-size: 0.8rem;
  color: #888;
  font-style: italic;
}
.cart__total-title {
  font-size: 1.4rem;
  color: #333;
}
.cart__total-amount {
  font-size: 1.4rem;
  color: #444;
}
.cart__image-wrapper {
  display: flex;
  justify-content: center;
}
.cart__image {
  max-width: 70%;
  max-height: 70%;
  min-width: 8rem;
  object-fit: cover;
}

.menu-page {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url(/assets/images/popular-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.restaurant .title-wrapper {
  display: flex;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
}
.restaurant .title-wrapper__heading {
  font-size: 3rem;
  padding: 0 0.5rem;
  color: #333;
}
.restaurant .title-wrapper__heading-span {
  font-size: 3rem;
  padding: 0 0.5rem;
  color: var(--brown);
}
.restaurant .menu-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.dish-info {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto;
  gap: 1rem;
}
@media screen and (max-width: 600px) {
  .dish-info {
    flex-direction: column;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .dish-info {
    flex-direction: column;
  }
}
.dish-info__image-wrapper {
  flex: 1 1 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
}
@media screen and (max-width: 600px) {
  .dish-info__image-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .dish-info__image-wrapper {
    width: 80%;
  }
}
.dish-info__image {
  height: 100%;
  width: 100%;
  min-width: 10rem;
  border-radius: 1rem;
  object-fit: cover;
}
.dish-info__info {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .dish-info__info {
    gap: 1.5rem;
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .dish-info__info {
    gap: 1.5rem;
    text-align: center;
  }
}
.dish-info__name {
  color: #333;
  font-size: 2rem;
  letter-spacing: 1.2px;
}
.dish-info__description {
  color: #444;
  font-size: 1.2rem;
}
.dish-info__attributes-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.dish-info__attribute {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--brown);
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
}
.dish-info__attribute-icon,
.dish-info__item-icon {
  font-size: 0.5rem;
  color: var(--brown);
}
.dish-info__attribute-title {
  font-size: 1rem;
  color: #444;
}
.dish-info__items-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.dish-info__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
  padding: 0.5rem 0;
}
.dish-info__mid-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
}
.dish-info__price-portion-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
.dish-info__rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.dish-info__price-wrapper,
.dish-info__portion-wrapper,
.dish-info__items-wrapper {
  display: flex;
  align-items: center;
}
.dish-info__price-title,
.dish-info__portion-title,
.dish-info__items-title {
  font-size: 1rem;
  color: #333;
  width: 10rem;
}
.dish-info__price-amount,
.dish-info__portion-amount,
.dish-info__item-title {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}
.dish-info__button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem 2rem;
}

.dish-review {
  display: flex;
  flex-direction: column;
  min-height: auto;
  margin-top: 2rem;
  gap: 2rem;
}
.dish-review__navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dish-review__horizontal-line {
  border-bottom: 1px solid #888;
  width: 36%;
}
.dish-review__navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28%;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 1rem 2rem;
  gap: 3rem;
}
.dish-review__navbar-link {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  cursor: pointer;
}
.dish-review__navbar-link:hover {
  color: #111;
}
.dish-review__navbar-link--active {
  color: #111;
  text-decoration: underline;
  text-decoration-color: var(--brown);
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
.dish-review__customer-reviews {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-height: 25rem;
  overflow-y: auto;
}
.dish-review__review-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.dish-review__review-inputbox {
  width: 20rem;
  height: 0;
  border: 1px solid #888;
  border-radius: 0.5rem;
  padding: 0.8rem;
  color: #222;
  transition: height 0.5s ease-in-out;
  opacity: 0;
}
.dish-review__review-inputbox::placeholder {
  color: #888;
}
.dish-review__review-inputbox.visible {
  height: 8rem;
  opacity: 1;
  transition:
    height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}
.dish-review__empty-message {
  text-align: center;
  color: #555;
  font-size: 1.2rem;
}
.dish-review__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.dish-review__button-wrapper .post-review {
  display: none;
  opacity: 0;
  height: 0;
}
.dish-review__button-wrapper .post-review.visible {
  display: block;
  height: auto;
  opacity: 1;
}
.dish-review__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.checkout__heading {
  font-size: 3rem;
  color: #333;
}
@media screen and (max-width: 600px) {
  .checkout__heading {
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout__heading {
    text-align: center;
  }
}
.checkout__span {
  color: var(--brown);
}
.checkout__form-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
  align-self: center;
}
@media screen and (max-width: 600px) {
  .checkout__form-container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout__form-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
.checkout__left-container {
  width: 54%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout__left-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .checkout__left-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
.checkout__horizontal-bar {
  border-bottom: 1px solid #444;
  width: 100%;
}
.checkout__accordion {
  width: 100%;
  margin: 0 auto;
  border-radius: 0.5rem;
  overflow: hidden;
}
.checkout__accordion-item {
  border-bottom: 1px solid #ddd;
}
.checkout__accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}
.checkout__accordion-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.checkout__accordion-title {
  font-size: 1rem;
}
.checkout__accordion-content-title {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.checkout__accordion-header-icon,
.checkout__accordion-header-trailing-icon {
  color: var(--brown);
}
.checkout__accordion-header.active .checkout__accordion-header-trailing-icon {
  transform: rotate(180deg);
}
.checkout__input {
  width: 100%;
  max-width: 20rem;
  font-size: 1rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}
.checkout__input:focus {
  border: 1px solid #333;
}
.checkout__input::placeholder {
  color: #888;
  font-size: 0.8rem;
  font-weight: 400;
}
.checkout__input-datetime {
  width: 100%;
  max-width: 20rem;
  font-size: 0.9rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}
.checkout__input-datetime:focus {
  border: 1px solid #333;
}
.checkout__input-datetime::placeholder {
  color: #888;
  font-size: 0.8rem;
  font-weight: 400;
}
.checkout__radio-button-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.checkout__accordion-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease-out,
    padding 0.3s ease-out;
  padding: 0 1rem;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.checkout__accordion-content.open {
  max-height: 20rem;
  padding: 1rem;
}
.checkout__right-container {
  width: 44%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 600px) {
  .checkout__right-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout__right-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
.checkout__cart,
.checkout__order-billing {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fbfcfa;
  padding: 2rem;
  border-radius: 1rem;
  gap: 1rem;
}
.checkout__cart-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.checkout__success-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.checkout__success-heading {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  color: #333;
}
@media screen and (max-width: 600px) {
  .checkout__success-heading {
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout__success-heading {
    text-align: center;
  }
}
.checkout__order-summary {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #fbfcfa;
  gap: 1rem;
  border: 1px solid #888;
  border-radius: 2rem;
  padding: 1rem;
}
.checkout__order-summary-heading {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  color: #333;
}
@media screen and (max-width: 600px) {
  .checkout__order-summary-heading {
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout__order-summary-heading {
    text-align: center;
  }
}
.checkout__order-summary-attribute {
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: #444;
}
@media screen and (max-width: 600px) {
  .checkout__order-summary-attribute {
    text-align: center;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout__order-summary-attribute {
    text-align: center;
  }
}
.checkout__order-summary-attribute-value {
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

input[type='radio']:checked::after {
  width: 14px;
  height: 14px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--brown);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  outline: 1px solid #444;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.order-billing__sub-total,
.order-billing__delivery,
.order-billing__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.order-billing__horizontal-bar {
  border-bottom: 1px solid #444;
  width: 100%;
}

.order-billing__sub-total-title,
.order-billing__delivery-title {
  font-size: 1rem;
  color: #333;
}

.order-billing__sub-total-amount,
.order-billing__delivery-amount {
  font-size: 1rem;
  color: #555;
}

.order-billing__total-title {
  font-size: 1.2rem;
  color: #333;
}

.order-billing__total-amount {
  font-size: 1.2rem;
  color: #444;
}

.dashboard-page {
  display: flex;
  height: 100%;
}

.aside {
  height: 100%;
  width: 20%;
  padding: 2rem 1rem;
  background-color: #f7f7f7;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  gap: 2rem;
  min-width: 10rem;
  text-align: center;
}
.aside__profile-name {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}
.aside__profile-image-wrapper {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.aside__profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.aside__menu {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.aside__menu-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.aside__menu-option--active {
  background-color: #d1eee4;
}
.aside__menu-option:hover {
  background-color: #d1eee4;
}

.main-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dashboard__heading {
  font-size: 2rem;
  color: #333;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .dashboard__heading {
    text-align: left;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .dashboard__heading {
    text-align: left;
  }
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 28rem;
}
.dashboard__container-heading {
  font-size: 1.6rem;
  color: #333;
}
.dashboard__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #181717;
}
.admin-login__heading {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  text-align: center;
}
.admin-login__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 2rem;
  padding: 2rem;
  background: #080113;
  color: white;
  width: 30%;
  box-shadow: 8px 8px 8px #080113;
}
@media screen and (max-width: 600px) {
  .admin-login__form-container {
    width: 50%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .admin-login__form-container {
    width: 50%;
  }
}
.admin-login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.admin-login .form__inputbox {
  width: 100%;
  font-size: 1rem;
  color: #333;
  text-transform: none;
  background: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
}
.admin-login .form__inputbox:focus {
  border: 1px solid #333;
}
.admin-login .form__inputbox::placeholder {
  color: #888;
  font-size: 0.8rem;
  font-weight: 100;
}
.admin-login .form__label {
  font-size: 0.8rem;
  color: white;
}
.admin-login .form__group {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
