.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__heading {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  &__container-heading {
    font-size: 1.6rem;
    color: #333;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
