<section class="download-app">
  <div class="box-container">
    <div class="box1" data-aos="fade-right">
      <h3>Download The App</h3>
      <p>A more convenient way to enjoy the Newari dishes!</p>
    </div>
    <div class="box" data-aos="fade-right">
      <img
        class="android"
        src="./assets/images/android.png"
        alt="download on android"
      />
      <img
        class="ios"
        data-aos="fade-left"
        src="./assets/images/ios.png"
        alt="download on ios"
      />
    </div>
  </div>

  <div class="image" data-aos="fade-left">
      <img
  src="./assets/images/phone.png"
  alt="phone image"
  title="download app"
/>
  </div>

</section>