<div class="box-container">
  <div class="box">
    <h3>contact info</h3>
    <p><i class="fas fa-map-marker-alt"></i>&nbspBhadgaun, Nepal 44600</p>
    <p><i class="fas fa-envelope"></i>&nbspinfous@samaybaji.com</p>
    <p><i class="fas fa-phone"></i>&nbsp+977-9841234567</p>
    <p><i class="fas fa-phone"></i>&nbsp+977-01-4412345</p>
  </div>

  <div class="box">
    <h3>quick links</h3>
    <a href="#">home</a>

    <a href="/menu">menu</a>
    <a href="">about</a>

    <a href="/menu">order</a>
  </div>

  <div class="box">
    <h3>Legal</h3>

    <a href="">Terms & Conditions</a>
    <a href="">Privacy Policy</a>
  </div>
  <div class="box">
    <h3>follow us</h3>

    <a href="">facebook</a>
    <a href="">twitter</a>
  </div>
</div>

<h1 class="credit">
  created by <span>Samay Baji Team</span> all rights reserved.
</h1>
