<a href="/" class="logo"
  ><img
    src="./assets/images/website-logo.png"
    title="website logo"
    alt="website logo"
/></a>
<nav class="navbar">
  <ul>
    <li><a class="active" href="/">home</a></li>

    <li><a href="#menu">menu</a></li>
    <li><a href="#about">about</a></li>
    <li><a href="/order.html">order</a></li>
  </ul>
</nav>
<div class="navbar__button-wrapper">
  <i class="fa-solid fa-magnifying-glass navbar__button" id="search"></i>
  <div class="navbar__cart-wrapper">
    <div class="navbar__cart-count-circle">
      <p class="navbar__cart-count" id="cart-count">4</p>
    </div>
    <i class="fa-solid fa-cart-shopping navbar__button" id="cart"></i>
  </div>
  <i class="fa-solid fa-user navbar__button" id="authentication"></i>
</div>
